@model IEnumerable<TKQClock.Models.LoaiDongHo>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("ClockTheoLoai", "ClockStore", new { id = item.MaLoai})" class="list-group-item">
            @item.TenLoai
        </a>
    }
</div>


