
@{
    ViewBag.Title = "TKQClock";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="content-register">
        <div class="sec-80">
            <div class="form__wrap con">
                <h2 class="sec-title form__title">Đăng nhập</h2>
                <form action="" id="mona-login-form">
                    <div class="form">
                        <span class="blank" style="margin-top: 16px;"></span>
                        <input type="text" name="user_name" required="" class="rs-form form__inp" placeholder="Email">
                        <input type="password" name="user_pass" required="" class="rs-form form__inp" placeholder="Mật khẩu">
                        <div class="form__txt">
                            Bạn chưa có tài khoản?
                            <a href="signup.html" class="form__link"> @Html.ActionLink("Đăng ký", "Dangky", "User")</a>
                        </div>
                        <div class="fl-wrap aln-ct form__bot form__mb">
                            <button class="rs-form btn-pri c-whi form__submit-small m-btn-loading">Đăng nhập</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}