<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="shortcut icon" href="~/images/LOGO1.png" type="image/x-icon" />
</head>
<body>
    <style>
        center {
            display: none;
        }
    </style>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
